<% if user_signed_in? %>
  <% if current_user.admin? %>
    <br>
    <h1 align="center">AdminArea</h1>
    <article class="box style2">
      <h3>Admin Email is  <i><%= current_user.email%></i></h3>
      <h3>Admin NickName is  <i><%= current_user.username%></i></h3>
      <li><%= link_to "ViewUsers", users_path, :class => 'btn btn-dark'%></li>
      <br>
      <li><%= link_to "ViewUsersMessages", contacts_path, :class => 'btn btn-dark'%></li>
      <br>
      <li><%= link_to "Create Post", new_admin_post_path, :class => 'btn btn-dark'%></li>
    </article>
  <% else %>
    <br>
    <h1 align="center">Profile</h1>
    <article class="box style2">
      <h3>Your Email is  <i><%= current_user.email%></i></h3>
      <h3>Your NickName is  <i><%= current_user.username%></i></h3>
      <li><%= link_to "Edit", edit_user_registration_path, :class => 'btn btn-dark'%></li>

    </article>
  <% end %>
<% else %>
  <% controller.redirect_to home_path %>
<% end %>

