<% if user_signed_in? %>
  <% if current_user.admin? %>
<br>
<h1>Messages from users</h1>
<% @contact.each do |contact| %>
  <div class="col-4 col-6-medium col-12-small">
    <article class="box style2">
      <p> Name: <%= contact.name %></p>
      <p>Email: <%= contact.email%></p>
      <p>Subject: <%= contact.subject %></p>
      <p>Message: <%= contact.message %></p>
      <%= button_to "Delete", contact_path(contact),  method: :delete, :class => 'btn btn-danger' %>
    </article>
    <hr>
  </div>
<% end %>
  <% else %>
    <% controller.redirect_to home_path %>
  <% end %>
<% else %>
<% controller.redirect_to home_path %>

<% end %>
