<br>
<h1 class="text-center" xmlns="http://www.w3.org/1999/html"><%= @post.title %></h1>

<p><%=@post.body %></p>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <hr>
    <%= link_to "Редактировать", edit_admin_post_path(@post),data: {
      turbo_confirm: "Are you sure?"
    }, :class => 'btn btn-warning' %>
    <%= button_to "Удалить", admin_post_path(@post),  method: :delete, :class => 'btn btn-danger' %>
    <hr>
  <% end %>
<% end %>

<hr>
<h2>Все комментарии</h2>
<br>
<% @post.comments.each do |comment| %>
  <div class = "alert alert-light">
    <div> <strong> <%= comment.username %>></strong> <%=comment.body %></div>
    <hr>
  </div>
<% end %>

<hr>
<h2>Добавление комментария</h2>
<%= form_for ([@post, @post.comments.build])  do |f| %>
  <div class="col-md-16">
  <p>
    <% if user_signed_in? %>
      <%= f.hidden_field :username, :value =>current_user.nickname, :class => 'form-control' %></div>
    <% else %>
    <%= f.hidden_field :username, :value =>"Guest", :class => 'form-control' %></div>
    <% end %>
  </p>
  <p>
    Текст комментария<br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit("Добавить комментарий", { :class => 'btn btn-warning'}) %>
  </p>
<% end %>