<br>
<h1 class="text-center" xmlns="http://www.w3.org/1999/html"><%= @post.title %></h1>

<p><%=@post.body %></p>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <hr>
    <%= link_to "Edit", edit_admin_post_path(@post),data: {
      turbo_confirm: "Are you sure?"
    }, :class => 'btn btn-warning' %>
    <%= button_to "Delete", admin_post_path(@post),  method: :delete, :class => 'btn btn-danger' %>
    <hr>
  <% end %>
<% end %>
<%= form_for ([@post, @post.comments.build])  do |f| %>
  <div class="col-md-16">
    <p>
      <% if user_signed_in? %>
      <hr>
      <h2>Add a comment</h2>
      <%= f.hidden_field :username, :value =>current_user.username, :class => 'form-control' %></div>
      <p>
        Text<br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
      </p>
      <p>
        <%= f.submit("Add", { :class => 'btn btn-warning'}) %>
      </p>
    <% else %>
        <%= f.hidden_field :username, :value =>"Guest", :class => 'form-control' %></div>
    <% end %>
    </p>
<% end %>
<hr>
<h2>All comments</h2>
<br>
<% @post.comments.each do |comment| %>
  <% if comment.username %>
  <div class = "alert alert-light">
    <div> <strong> <%= comment.username %>: </strong> <%=comment.body %></div>
    <hr>
  </div>
  <% end %>
<% end %>

